

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(160, 72, 2);
    background-image: url('coffee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    margin: 0; 
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #54271D;
    padding: 20px;
    border-bottom: 5px solid #F0EDE5;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(84, 39, 29);
    min-width: 160px;
    z-index: 1;
}

.menu-button:hover + .dropdown-content {
    display: block;
}

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li {
    padding: 10px;
    text-transform: capitalize;
    color: white;
}

#menu li:hover {
    background-color: #FF5733;
}

.cafe-name {
    text-align: right; 
    margin: 0;
    color: #F0EDE5;
    font-size: 24px;
}



.container {
    background-color: rgb(109, 68, 44);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(84, 39, 29);
    margin: 20px auto;
    max-width: 600px;
    height: auto; 
    width: 100%;
    height: 200px; 
    color: white;
    overflow-y: auto;
}
